
/*configurações no dashboard lateral é aqui*/
.flex-dashboard header ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: #1c1e21fb;
    padding: 11px 30px;
    border: 1px solid rgba(0,0,0, .0625);
    
   

}

/*style dos icones e ==> Dashboard e logout*/
.flex-dashboard header ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 58px;
    text-decoration: none;
    color: #1db650;
    border-radius: 6px;
}


/* quando você busca os icones no fonte wase ele rederiza atraves do javaScript e transforma em svg */
/*o proprio fontewase que faz isso */
.flex-dashboard header a > svg {
    color: #6e8efb;

}

.flex-dashboard header ul li :hover {
    background-color: rgba(204, 204, 204, 0.13);
}










/*search  => pesquisa*/
.flex-dashboard header ul li .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    transform: translate(50, 5%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}


/*ao passar o mouse encima*/
.flex-dashboard header ul li .search-box:hover > .search-txt{
    width: 220px;
    padding: 0 6px;
    
}

.flex-dashboard header ul li .search-box:hover > .search-btn{
    background: #fff;
}




.flex-dashboard header ul li .search-btn {
    color: #6e8efb;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.flex-dashboard header ul li .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}