/*Responsividade*/

@media screen and (max-width: 1280px) {
    .banner-login {
        width: 50%;
        padding: 0 2%;
    }


    .banner-login img {
        max-width: 400px;
    }
}


/*sumindo com a div da imagem*/
@media screen and (max-width: 991px) {
    .banner-login {
        display: none;
    }

    .login-form {
        width: 100%;
    }
}