<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <link rel="stylesheet" href="../styleProjeto/mainPrincipal.css">
    <link rel="stylesheet" href="../styleProjeto/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styleProjeto/plugins/fontawesome/css/all.min.css">


</head>
<body>

    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../img/imagem-users.png" alt="">
                <h4>Unimed</h4>
            </div>
            <!-- /.sidebar-title -->

            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="painelControle.html">Dashboard</a>
                    </li>

                    <li>
                        <i class="fas fa-desktop"></i>
                        <a href="#">Gerenciar computadores</a>
                    </li>

                    <li>
                        <i class="fas fa-print"></i>
                        <a href="#">Gerenciar Impressoras</a>
                    </li>

                    <li>
                        <i class="fas fa-tools"></i>
                        <a href="#">Gerenciar Ferramentas</a>
                    </li>

                    <li>
                        <i class="fas fa-mail-bulk"></i>
                        <a href="#">Gerenciar Pendencias</a>
                    </li>


                    <li>
                        <i class="fas fa-cog"></i>
                        <a href="#">Configurações</a>
                    </li>

                    <li>
                        <a href="#"></a>
                    </li>

                    <li>
                        <i class="fas fa-question-circle"></i>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </div>
            <!-- /.menu -->

        </sidebar>

        <main>
            <header>
                <ul>
                    <li>
                        <a href="painelControle.html"><i class="fas fa-home"></i> Dashboard</a>
                        <a href="../mainProjeto.html"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </li>
                </ul>
            </header>

            <div class="panel-row">
                <div class="pes">
                    <form action="action_page.php">
                        <input type="text" placeholder="Pesquisar.." name="search">
                        <button class="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            <!-- /.panel-row -->

            <div class="content" id="ajax-content"></div>

        </main>

    </div>
    <!-- /.flex-painelControle -->



    
    <script src="../styleProjeto/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../styleProjeto/plugins/fontawesome/js/all.min.js"></script>

  

</body>
</html>