<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    
    <link rel="stylesheet" href="../styleProjeto/mainPrincipal.css">
    <link rel="stylesheet" href="../styleProjeto/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styleProjeto/plugins/fontawesome/css/all.min.css">


</head>
<body>
    <div class="register-parent">
        <div class="registro">
            <form>
                <div class="registro-title">
                    <img src="../img/imagem-users.png"  alt="img">
                    <h2>Formulario de Cadastro</h2>
                </div>
                <!-- /.registro-title -->
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name"  placeholder="Nome completo" required>
                </div>
                <!-- insirir o nome completo-->

                <div class="form-group">
                    <label for="idade">idade</label>
                    <input type="email" class="form-control" id="idade" placeholder="Insira sua idade">
                </div>
                <!-- insira a idade -->


                <div class="form-group">
                    <label for="gener">Genero</label>
                    <select class="form-control" id="gener">
                        <option>Masculino</option>
                        <option>Feminino</option>
                      </select> 
                    </div>




                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Insira seu email" required>
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Insira sua senha" required>
                </div>


                <button type="submit" class="btn">Cadastrar</button>
              </form>
        </div>
        <!-- /.registro -->
    </div>
    <!-- /.register parent -->




    



    
    <script src="../styleProjeto/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../styleProjeto/plugins/fontawesome/js/all.min.js"></script>
</body>
</html>